<div class="tr-section tr-section-padding">

  <div *ngIf="!uploading" class="text-center">
    <div class="section-title">
      <h1>Upload Video</h1>
    </div>

    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
      <p>
        Drop Videos Here
      </p>
      <input type="file" ng2FileSelect [uploader]="uploader"/>
    </div>

  </div>

  <form *ngIf="uploading" (ngSubmit)="f.form.valid && publish()" #f="ngForm" novalidate>

    <tabset>
      <tab heading="Basic info">

        <div class="row">
          <div class="col-md-9">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="model.name"
                     #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.category }">
              <ng-select *ngIf="categoriesList.length > 0" [allowClear]="false"
                         [items]="categoriesList"
                         (selected)="selected($event)"
                         (typed)="typed($event)"
                         placeholder="Select Category">
              </ng-select>
              <div *ngIf="f.submitted && !model.category" class="help-block">Category is required</div>
            </div>
          </div>
          <div class="col md-3">
            <div class="form-group">
              <app-image-input [srcStr]="imagePreview" (srcChanged)="setImage($event)"></app-image-input>
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
          <textarea class="form-control" rows="3" name="description" placeholder="Description" [(ngModel)]="model.description"
                    #description="ngModel" required></textarea>
          <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
        </div>

        <div class="form-group">
          <rl-tag-input [(ngModel)]="model.tags" placeholder="Tags"></rl-tag-input>
        </div>

      </tab>
    </tabset>

    <div class="row">
      <div class="col-md-10">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
            <span style="color:white;">Uploading {{uploader.progress}} %</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button [disabled]="loading || uploader.isUploading" class="btn btn-primary btn-block">
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Publish
        </button>
      </div>
    </div>


  </form>

</div>
