<div class="tr-section ">

    <div class="section-title">
      <h1>Change Password</h1>
    </div>

  <form [formGroup]="form" (ngSubmit)="save()">

    <div class="form-group" [ngClass]="{ 'has-error': form.controls['current'].touched && !form.controls['current'].valid }">
      <label>Current Password</label>
      <input [(ngModel)]="user.current" formControlName="current" type="text" class="form-control">
      <div *ngIf="form.controls['current'].touched && !form.controls['current'].valid" class="help-block">Current Password is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': form.controls['password'].touched && !form.controls['password'].valid }">
      <label>New Password</label>
      <input [(ngModel)]="user.password" formControlName="password" type="text" class="form-control">
      <div *ngIf="form.controls['password'].touched && !form.controls['password'].valid" class="help-block">New Password is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': form.controls['confirm'].touched && !form.controls['confirm'].valid }">
      <label>Confirm Password</label>
      <input [(ngModel)]="user.confirm" formControlName="confirm" type="text" class="form-control">
      <div *ngIf="form.controls['confirm'].touched && !form.controls['confirm'].valid" class="help-block">Confirm Password is required</div>
    </div>

    <button [disabled]="loading || !form.valid" type="submit" class="btn btn-default">
      <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      Submit
    </button>
  </form>
</div>
