<div class="main-wrapper tr-page-top">
  <div class="container-fluid">
    <div class="tr-topbar clearfix">
      <div class="row">
        <div class="col-sm-3">
          <a class="navbar-brand" href="#">
            <img class="img-responsive" src="/assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="col-sm-9">
          <div class="topbar-left">

          </div><!-- /.topbar-left -->
          <div class="topbar-right">
            <div class="user">
              <div class="user-image">
                <img class="img-responsive img-circle" src="/assets/images/others/user.png" alt="Image">
              </div>
              <div class="dropdown user-dropdown">
                Hello,
                <a href="#" aria-expanded="true">Jhon Player<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="sub-menu text-left">
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Log Out</a></li>
                </ul>
              </div>
            </div>
            <div class="searchNlogin">
              <ul>
                <li class="search-icon"><i class="fa fa-search"></i></li>
                <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                <li class="dropdown language-dropdown">
                  <a href="#" aria-expanded="true"><span class="change-text">En</span> <i class="fa fa-angle-down"
                                                                                          aria-hidden="true"></i></a>
                  <ul class="sub-menu text-center">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">FR</a></li>
                    <li><a href="#">GR</a></li>
                    <li><a href="#">ES</a></li>
                  </ul>
                </li>
              </ul>
              <div class="search">
                <form role="form">
                  <input type="text" class="search-form" autocomplete="off" placeholder="Type & Press Enter">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>

<footer id="footer">
  <div class="footer-menu">
    <div class="container">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of footer_links">
          <a href="#">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <div class="container">
      <div class="footer-bottom-content">
        <address>
          <p>&copy; 2017 ITI</p>
        </address>
      </div>
    </div>
  </div>
</footer>
