<div *ngIf="user.logged" class="user">
  <div class="user-image">
    <img class="img-responsive img-circle" [src]="image">
  </div>
  <div class="dropdown user-dropdown">
    <a href="#" aria-expanded="true">{{user.getName()}}<i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul class="sub-menu text-left">
      <li *ngIf="user.role == 'admin'"><a [routerLink]="['/admin']">Admin panel</a></li>
      <li><a [routerLink]="['/account/general']">Account settings</a></li>
      <li><a [routerLink]="['/channel',user.getID()]">My channel</a></li>
      <li><a (click)="logout()">Log Out</a></li>
    </ul>
  </div>
</div>
