<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail statistic-box">
      <h1 class="value">
        {{statistics.videos}}
      </h1>
      <h3 class="label">Videos</h3>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail statistic-box">
      <h1 class="value">
        {{statistics.violated_videos}}
      </h1>
      <h3 class="label">Violated Videos</h3>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail statistic-box">
      <h1 class="value">
        {{statistics.users}}
      </h1>
      <h3 class="label">Users</h3>
    </div>
  </div>
</div>
