<div class="main-wrapper tr-page-top">
  <div class="container-fluid">
    <div class="tr-topbar clearfix">
      <div class="row">
        <div class="col-sm-3">
          <a class="navbar-brand" [routerLink]="['']">
            <img class="img-responsive" src="/assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="col-sm-9">

          <div class="topbar-right">
            <div *ngIf="currentUser.logged" class="user">
              <div class="user-image">
                <img class="img-responsive img-circle" src="/assets/images/others/user.png" alt="Image">
              </div>
              <div class="dropdown user-dropdown">
                <a href="#" aria-expanded="true">{{currentUser.getName()}}<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="sub-menu text-left">
                  <li><a [routerLink]="['/admin']">Admin Panel</a></li>
                  <li><a (click)="logout()">Log Out</a></li>
                </ul>
              </div>
            </div>

            <div [ngClass]="{'searchNlogin': true, 'expanded': searchInputExpanded}">
              <ul>
                <li *ngIf="!currentUser.logged">
                  <a [routerLink]="['/login']">
                    <i class="fa fa-user"></i> Login
                  </a>
                </li>
                <li *ngIf="!currentUser.logged">
                  <a [routerLink]="['/register']">
                    <i class="fa fa-users"></i> Register
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/upload']">
                    <i class="fa fa-upload"></i> Upload
                  </a>
                </li>
                <li class="search-icon"(click)="toggleSearchInput()"><i class="fa fa-search"></i></li>
              </ul>
              <div class="search">
                <form role="form">
                  <input type="text" class="search-form" autocomplete="off" placeholder="Type & Press Enter">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-alert></app-alert>
    <router-outlet></router-outlet>

  </div>
</div>

<footer id="footer">
  <div class="footer-menu">
    <div class="container">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of footer_links">
          <a href="#">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <div class="container">
      <div class="footer-bottom-content">
        <address>
          <p>&copy; 2017 ITI</p>
        </address>
      </div>
    </div>
  </div>
</footer>
